<div class="notice">
  <h2>Noticeboard(0)</h2>

  <div class="group">
    <div class="group-img">
      <img src="../../../../assets/img/content-notice.png" alt="">
    </div>
    <h1>Keep people informed with the Noticeboard</h1>
    <p>Click "Add a note" to post notes to the course noticeboard and keep your learners up to date with whats going on.</p>
  </div>

  <!-- <div class="search">
    <app-search-bar></app-search-bar>
  </div> -->

</div>

<button class="assign-btn pointer">Assign to teams</button>
