.report {
  position: relative;
  padding-bottom: 2vw;

  .top {
    h4 {
      font-size: 1.05vw;
      font-family: "reg";
      color: var(--black);
      letter-spacing: 0.02vw;
    }

    .engine-btn {
      background-color: var(--sky);
      border-radius: 0.5vw;
      border: 0.1vw solid var(--sky);
      color: var(--white);
      font-size: 0.8vw;
      font-family: "reg";
      padding: 1vw 2vw;
      transition: var(--transition);

      &:hover {
        background-color: transparent;
        color: var(--sky);
      }
    }
  }

  .counter {
    position: sticky;
    top: 0vw;
    padding: 1vw 0 1.2vw 0;
    background-color: var(--bg);
  }

  .main {
    width: 100%;

    .fixed-div {
      width: 82.5%;
      margin-bottom: 2vw;

      .middle {
        width: 100%;

        .blueGraph,
        .multiGraph {
          width: 49%;
          padding: 1vw 1.3vw 1.7vw;
          background-color: var(--white);
          box-shadow: rgba(0, 0, 0, 0.16) 0px 0.05vw 0.2vw;
          border-radius: 1vw;
        }

        .multiGraph {
          margin-left: 1.05vw !important;
          padding: 1vw 1.3vw 1vw !important;
        }
      }

      .manage-reports {
        width: 100%;
        padding: 1.1vw 1.3vw 1.2vw 1vw;
        background-color: var(--white);
        box-shadow: rgba(0, 0, 0, 0.16) 0px 0.05vw 0.2vw;
        border-radius: 1vw;
        margin-top: 1.1vw;

        .schedule-btn {
          background-color: var(--sky);
          font-size: 0.62vw;
          height: 1.5vw;
          padding: 0 0.5vw;
          font-family: "reg";
          color: var(--white);
          border-radius: 0.1vw;
          border: 0;
        }

        .tabs {
          margin-top: 0.5vw;
          width: 100%;

          .tab-headers {
            width: 25%;
            margin-bottom: 0.2vw;

            .tab-label {
              color: #9f9f9f;
              font-size: 0.8vw;
              font-family: "reg";
              letter-spacing: 0.02vw;
              transition: var(--transition);
              span {
                display: none;
              }
            }

            .tab-label.active {
              border-bottom: 0.15vw solid #4076aa;
              color: var(--black);
              font-family: "med";
              padding-bottom: 0.5vw;

              span {
                display: block;
                margin-left: 0.2vw;
              }
            }
          }

          .tab-content {
            width: 100%;

            h1 {
              font-size: 1.05vw;
              font-family: "reg";
              color: var(--black);
              border-bottom: 0.14vw solid #5a5f7d75;
              padding-bottom: 0.8vw;
              margin-bottom: 0.3vw;
            }

            h2 {
              font-size: 0.9vw;
              font-family: "reg";
              color: var(--black);
            }

            table {
              width: 100%;

              thead {
                th {
                  padding: 0.35vw 0 0.8vw;
                  text-align: left;
                  border-bottom: 0.014vw solid #5a5f7d47;
                  font-size: 0.8vw;
                  font-family: "reg";
                  text-transform: capitalize;
                  letter-spacing: 0.02vw;

                  &:nth-child(1) {
                    width: 34.5%;
                  }
                  &:nth-child(2) {
                    width: 12.5%;
                  }
                  &:nth-child(3) {
                    width: 11.8%;
                  }
                  &:nth-child(4) {
                    width: 12.5%;
                  }
                  &:nth-child(5) {
                    width: 13.2%;
                  }
                  &:nth-child(6) {
                    width: 8%;
                  }
                  &:nth-child(7) {
                    width: 7.5%;
                  }
                }
              }

              tbody {
                tr {
                  &:last-child td {
                    border-bottom: 0;
                  }

                  td {
                    text-transform: capitalize;
                    font-size: 0.78vw;
                    font-family: "reg";
                    color: var(--black);
                    border-bottom: 0.01vw solid #5a5f7d33;
                    letter-spacing: 0.015vw;
                    margin-bottom: 0.02vw;

                    .subtext {
                      font-family: "reg";
                      font-size: 0.65vw;
                      color: #5a5f7d;
                    }

                    .mail {
                      font-size: 0.65vw;
                      color: #5a5f7d;
                      margin-top: 0.08vw;
                    }

                    .tag {
                      color: var(--white);
                      padding: 0.3vw 0.9vw;
                      font-size: 0.65vw;
                      font-family: "reg";
                      border-radius: 1vw;
                    }

                    .action {
                      img {
                        width: 1.1vw;
                        object-fit: contain;
                      }
                    }

                    &:nth-child(1) {
                      padding: 1vw 0 1.15vw;
                    }
                    &:nth-child(2),
                    &:nth-child(3),
                    &:nth-child(4),
                    &:nth-child(5),
                    &:nth-child(6),
                    &:nth-child(7) {
                      padding: 0vw 0 1.15vw;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .login-activity {
        padding: 1.1vw 1.3vw 1.2vw 1vw;
        background-color: var(--white);
        box-shadow: rgba(0, 0, 0, 0.16) 0px 0.05vw 0.2vw;
        border-radius: 1vw;
        margin-top: 1.1vw;
        width: 100%;
      }
    }

    .right-div {
      width: 16%;

      .quick-reports,
      .usage-reports{
        width: 100%;
        background-color: var(--white);
        padding: 1vw 0.8vw;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 0.05vw 0.2vw;
        border-radius: 1vw;

        ul{
          margin-top: 0.75vw;

          li{
            font-size: 0.82vw;
            font-family: 'reg';
            color: var(--black);
            padding: 0.6vw 0;
            text-transform: capitalize;
            border-bottom: 0.01vw solid #5A5F7D33;

            &:last-child{
              border: 0;
            }
          }
        }
      }

      .usage-reports{
        margin-top: 1vw;
      }
    }
  }
}


h6 {
  font-size: 1.05vw;
  font-family: "reg";
  color: var(--black);
}
