.history {
  padding: 1.6vw 2vw;
  border-radius: 1vw;
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0.05vw 0.2vw;
  height: 23vw;

  h2 {
    font-size: 1vw;
    letter-spacing: 0.03vw;
    text-transform: capitalize;
  }

  .no-review {
    font-family: "italic";
    font-size: 0.75vw;
    color: var(--black);
    margin-top: 1.5vw;
    text-transform: capitalize;
    letter-spacing: 0.02vw;
  }
}
