<section>
  <div class="create-user">
    <h1 class="SPHead">Add a new team</h1>
    <div class="PageLinks flex">
      <a href="" class="pointer dec-none">Teams</a>/ <span>Add a new team</span>
    </div>
    <div class="main-head">

      <form class="flex justify-between">
        <div class="left">
          <div class="top-form-text">
            <div class="italic">*is required field</div>
          </div>

          <div class="full">
            <label class="light-label">team name*</label>
            <input type="text" placeholder="-" class="light-input" formControlName="username">
          </div>

          <div class="full">
            <label class="light-label">location description*</label>
            <input type="text" placeholder="-" class="light-input" formControlName="username">
          </div>

        </div>



        <div class="header-form-btn">
          <button type="submit" class="pointer">Add team</button>
          <button type="button" class="pointer">Add Another team</button>
          <button type="button" class="pointer">Cancel</button>
        </div>
      </form>

    </div>
  </div>
</section>
