.people {
  .search {
    margin-top: 1.5vw;
    width: 59.5%;

    ::ng-deep app-search-bar .search-icon {
      width: 1.38vw;
      position: absolute;
      top: 1.16vw;
      left: 1.7vw;
    }

    ::ng-deep app-search-bar input {
      height: 3.8vw;
      background-color: var(--white);
      padding: 0 8vw 0 3.7vw;

      &::placeholder {
        font-size: 0.93vw;
      }
    }

    ::ng-deep app-search-bar .filter-btn {
      position: absolute;
      top: 1.3vw;
      right: 1.7vw;
    }

    ::ng-deep app-search-bar .filter-btn button img{
      width: 1.4vw;
    }
  }

  .two {
    margin-top: 1.75vw;

    .table {
      width: 75%;
      padding: 0 2.3vw;
      border-radius: 1vw;
      background-color: var(--white);
      box-shadow: rgba(0, 0, 0, 0.16) 0px 0.05vw 0.2vw;
    }

    .right {
      width: 23.5%;

      .btn {
        background-color: var(--white);
        border: 0;
        padding: 1.2vw 1vw;
        border-radius: 0.5vw;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 0.05vw 0.2vw;

        img {
          width: 1.4vw;
          object-fit: contain;
          margin-bottom: 0.3vw;
        }

        .text {
          font-size: 0.8vw;
          font-family: "reg";
          color: #5a5f7d;
        }
      }

      h4 {
        font-size: 0.95vw;
        font-family: "reg";
        letter-spacing: 0.02vw;
        color: var(--black);
        margin: 0.8vw 0 1.1vw;
      }

      .bulk-action-container {
        select {
          width: 100%;
          font-size: 1vw;
          font-family: "reg";
          color: var(--black);
          height: 2.2vw;
          border: 0;
          background-color: var(--white);
          border-radius: 0.03vw;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 0.05vw 0.2vw;
          padding: 0 0.5vw;

          &:focus {
            border: 0;
            outline: none;
          }
        }
      }

      .recently-viewed {
        padding: 1vw 1.1vw;
        background-color: var(--white);
        border-radius: 1vw;
        margin-top: 1vw;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 0.05vw 0.2vw;

        h4 {
          font-size: 1vw;
          font-family: "reg";
          color: var(--black);
          margin-bottom: 0;
        }

        ul {
          margin-top: 0.5vw;

          li {
            font-size: 0.8vw;
            font-family: "reg";
            color: var(--black);
            padding: 0.9vw 0;
            border-bottom: 0.1vw solid rgba(128, 128, 128, 0.199);

            &:last-child {
              border-bottom: 0;
            }
          }
        }
      }
    }
  }
}
